Source: nmbs
Section: utils
Priority: optional
Maintainer: Luke Ian Turner <turnertech@outlook.de>
Standards-Version: 4.7.2
Build-Depends: debhelper-compat (= 13), libexiv2-dev, libargparse-dev, libxml2-dev (>= 2.12.7), libgtest-dev, doxygen, help2man
Vcs-Git: https://github.com/liturner/nmbs.git
Vcs-Browser: https://github.com/liturner/nmbs
Homepage: https://github.com/liturner/nmbs


Package: nmbs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libnmbs1 (= ${binary:Version})
Recommends: nautilus-nmbs
Suggests: exiv2
Description: confidentiality label binding tools
 A set of CLI tools enabling working with ADatP-4774 and ADatP-4778
 confidentiality labels, such as the ability to tag Xmp metadata
 into images with security classifications like PUBLIC UNMARKED
 or NATO UNCLASSIFIED.


Package: nautilus-nmbs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libnmbs1 (= ${binary:Version})
Recommends: nautilus
Suggests: nmbs
Description: nautilus support for confidentiality labels
 A Nautilus (GNOME Files) extension providing support for working
 with ADatP-4774 and ADatP-4778 confidentiality labels. Including
 e.g. the ability to tag Xmp metadata into images with security
 classifications like PUBLIC UNMARKED or NATO UNCLASSIFIED.


Package: libnmbs1
Section: libs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libxml2 (>= 2.12.7)
Description: confidentiality label binding support
 A shared library providing ADatP-4774 and ADatP-4778 support
 for confidentiality labels of e.g. files.
 Required by e.g. the nmbs CLI tools or Nautilus extension.


Package: libnmbs-dev
Section: libdevel
Architecture: amd64
Depends: libnmbs1 (= ${binary:Version}), ${misc:Depends}
Recommends: libnmbs-doc
Suggests: cmake, libnmbs-doc
Description: development files for libnmbs
 This package contains the header files, cmake targets etc.
 to compile external code against libnmbs. Doxygen is also
 provided using doc-base.


Package: libnmbs-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libnmbs-dev, dochelp
Description: documentation files for libnmbs
 This package contains the Doxygen API documentation for
 libnmbs.
